@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Matthew Siggs</p>
    <p>Student Number: A01174107</p>
    <p>I have no idea what I wanna be</p>
</div>
